body{
	background-color: #EDEDED;
	
}

hr{
	margin: 40px 0;
	border: 0;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #ffffff;
}

a {
	color: #444444;	
}

a:hover{
	color: #333333;
	background-color: #00C483;
	text-decoration: none;
}

article{
	background-color: #DDDDDD;
	margin-bottom: 20px;
}

ul, ol {
	padding: 0;
	margin: 0 0 0px 0px;
	list-style: none;
}

.foobar{
	border-top: solid 3px #333333;
	padding-bottom: 20px;
	
}

.logo{	
	background-color: #DDDDDD;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.logo a{
	display: block;
	height: 100%;
	width: 100%;
	
}

.menu .snippet{
	background-color: #EDEDED;
	padding: 15px 0 15px 0;
	font-size: 12px;
	text-transform: none;
}

.menu ul{
	width: 100%;
	padding: 10px 0 10px 0;
}

.menu li{
	padding: 15px 0 15px 0;
	text-align: center;
	margin: 5px 0 5px 0;
	background-color: #DDDDDD;
	text-transform: uppercase;
	font-weight: bold;
}

.menu a:hover li{
	background-color: #00C483;
}



a .navdeselected {
	color: #CCCCCC;
	font-size: 18.5px;
}

a:hover .navdeselected {
	color: #333333;
}

a .navresize {
	font-size: 28.5px;
	font-weight: 400;
}


.postbody {
	margin: 0 !important;
}

.pagination-nav {

}
.pagination-nav ul {

}

.pagination-nav li{
	
}

.stuck{
	position: fixed;
}

.post{
	background-color: #DDDDDD;
	margin-bottom: 20px;
}

.carousel{
	margin-bottom: 0;
}

.title_info{
	padding: 20px 0 20px 0;
	text-align: center;
	
}

.title_info h1 {
	margin:5px 0 0 0;
}

.title_info h3 {
	margin: 0;
	
}

.title_info h4{
	font-weight: 200;
	margin: 0;
	padding: 0;
}

.title_info ul{

}

.topics li {
	display: inline;
	padding: 4px 5px 4px 7px;
	margin: 0 2px 0 2px;
	background-color: #666666;
	color: #DDDDDD;
}

.topics li a{
	color: #DDDDDD;
}

.topics li:hover {
	background-color: #00C483;
}


.post_content {
	padding: 20px;
	background-color: #CCCCCC;
}

.post_content p{
	padding: 20px;
}