body{
	background-color: #EDEDED;
	
}

a {
	color: #444444;	
}

a:hover{
	color: #333333;
	background-color: #0088cc;
	text-decoration: none;
}

.foobar{
	border-top: solid 3px #333333;
	
}


h3.navlinks{
	text-transform: uppercase;
	line-height: 24px;
}

a .deselected {
	color: #CCCCCC;
}

a:hover .deselected {
	color: #333333;
}