body{
	background-color: #FCFCFC;
	text-align: center;
	font-family: georgia;
	color:#2F2F2F;
}

.content{
	margin: 0px auto;
	padding: 20px;
	width: 500px;
	text-align: left;
	overflow: hidden;

}

img{width: 100%;}

h1, h2, h3, h4, h5{
	font-family: helvetica, verdana, sans-serif;
	font-weight: bold;
}

h1{font-size: 34px;}
h2{font-size: 30px;}
h3{font-size: 24px;}
h4{font-size: 20px;}

p{
	font-size: 20px;
	line-height: 30px;
	padding: 20px 0px;
}

hr{
	margin: 30px 100px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #ffffff;
}

a {
	color: #1d87f4;	
}

a:hover{
	color: #F0F0F0;
	background-color: #0f68c3;
	text-decoration: none;
}


