---
layout: default
title: Assembly Process
---

{% for post in paginator.posts %}
	<article class="post">
	<ul>
	<li>Site URL: {{ site.url }}</li>
	<li>Post URL: {{ post.url }}</li>
	<li>Post Title: {{ post.title }}</li>
	<li>Post Date: {{ post.date | date: "%B %e, %Y" }}</li>
	<li>Post Tagline: {{ post.tagline }}</li>
	<li>Post Tags: {{ post.tags[1] }}</li>
	<li>Number of images: {{ post.number_of_images }}</li>
	{% if post.number_of_images == 1 %}
		If Worked. Image variable is {{ post.number_of_images }}
		{% for image in post.images %}
			{% for image_url in image %}
				<li>Image: <a href="{{ image_url[0] }}"><img src="{{ image_url[1] }}"></a></li>
			{% endfor %}
		{% endfor %}
	{% elsif post.number_of_images >= 2 %}
		Elsif Worked. Image variable is {{ post.number_of_images }}
		{% for image in post.images %}
			{% for image_url in image %}
				<li>Image: <a href="{{ image_url[0] }}"><img src="{{ image_url[1] }}"></a></li>
			{% endfor %}
		{% endfor %}
	
	{% endif %}
	{% if embed == True %}
		<li>{{ post.embed }}</li>
	{% endif %}
	</ul>
      	{{ post.content }}
	
	</article>
{% endfor %}


<!-- Pagination links -->
<div class="pagination">
	<ul>
		<li>
			{% if paginator.previous_page < 1 %} <a href="#Please-wait-for-future-to-load">Toward the future</a> {% elsif paginator.previous_page == 1 %} <a href="/">Toward the present</a> {% elif paginator.previous_page < 1 %} <a href="/page{{ paginator.previous_page }}/">Toward the present</a> {% endif %}
		</li>
		<li>
			<a href="">Currently displaying page {{ paginator.page }}</a>
		</li>
		<li>
			{% if paginator.next_page == paginator.total_pages %} <a href="" class="disabled">The Beginning</a> {% else %}<a href="/page{{ paginator.next_page }}/">Toward the past</a> {% endif %}
		</li>
	</ul>
</div>

<!-- End pagination -->