---
layout: default
title: Assembly Process
---

{% for post in paginator.posts %}
	<article class="post">
	{% if post.number_of_images == 1 %}
		If Worked. Image variable is {{ post.number_of_images }}
		{% for image in post.images %}
			{% for image_url in image %}
				Image: <a href="{{ image_url[0] }}"><img src="{{ image_url[1] }}"></a>
			{% endfor %}
		{% endfor %}
	{% elsif post.number_of_images >= 2 %}
		<div id="myCarousel-{{page.id}}" class="carousel slide">
			<!-- Carousel items -->
			<div class="carousel-inner">

				{% for image in post.images %}
					{% if forloop.first %}{% for image_url in image %} <div class="item active" ><a href="{{ image_url[0] }}"><img src="{{ image_url[1] }}"></a></div> {% endfor %}
					{% else %}{% for image_url in image %} <div class="item" ><a href="{{ image_url[0] }}"><img src="{{ image_url[1] }}"></a></div> {% endfor %}
					{% endif %}
				{% endfor %}
			</div>

			<!-- Carousel nav -->
			<a class="carousel-control left" href="#myCarousel-{{page.id}}" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#myCarousel-{{page.id}}" data-slide="next">&rsaquo;</a>
		</div>
	
	{% endif %}
	{% if post.embed  %} {{ post.embed }} {% endif %}
	<h2>{{ post.title }}</h2>
	<h3 class="tagline">{{ post.tagline }}</li></h3>
		<ul class="postmeta">
			<li>Site URL: {{ site.url }}</li>
			<li>Post URL: {{ post.url }}</li>
			<li>Post Date: {{ post.date | date: "%B %e, %Y" }}</li>
			<li>Post Tags: {{ post.tags[1] }}</li>
		</ul>
      	{{ post.content }}
	<div class="span10 postbody"><hr /></div>
	</article>
{% endfor %}


<!-- Pagination links -->
<div class="pagination">
	<ul>
		<li>
			{% if paginator.page == 1 %} <a class="disabled" href="#Please-wait-for-future-to-load">Toward the future</a> {% elsif paginator.previous_page == 1 %} <a href="/">Toward the present</a> {% else %} <a href="/page{{ paginator.previous_page }}/">Toward the present</a> {% endif %}
		</li>
		<li>
			<a>Currently displaying page {{ paginator.page }}</a>
		</li>
		<li>
			{% if paginator.next_page == paginator.total_pages %} <a class="disabled">The Beginning</a> {% else %}<a href="/page{{ paginator.next_page }}/">Toward the past</a> {% endif %}
		</li>
	</ul>
</div>

<!-- End pagination -->