---
layout: default
title: Assembly Process
---

{% for post in paginator.posts %}
	<article class="post">
	{% if post.number_of_images == 1 %}
		If Worked. Image variable is {{ post.number_of_images }}
		{% for image in post.images %}
			{% for image_url in image %}
				Image: <a href="{{ image_url[0] }}"><img src="{{ image_url[1] }}"></a>
			{% endfor %}
		{% endfor %}
	{% elsif post.number_of_images >= 2 %}
		<div id="myCarousel-{{page.id}}" class="carousel slide">
			<!-- Carousel items -->
			<div class="carousel-inner">
				{% for image in post.images %}
					{% if forloop.first %}{% for image_url in image %} <div class="item active" ><a href="{{ image_url[0] }}"><img src="{{ image_url[1] }}"></a></div> {% endfor %}
					{% else %}{% for image_url in image %} <div class="item" ><a href="{{ image_url[0] }}"><img src="{{ image_url[1] }}"></a></div> {% endfor %}
					{% endif %}
				{% endfor %}
			</div>

			<!-- Carousel nav -->
			<a class="carousel-control left" href="#myCarousel-{{page.id}}" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#myCarousel-{{page.id}}" data-slide="next">&rsaquo;</a>
		</div>
	
	{% endif %}
	{% if post.embed  %} {{ post.embed }} {% endif %}
	<div class="title_info">
		<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
		<h3 class="tagline">{{ post.tagline }}</li></h3>
		<h4>{{ post.date | date: "%B %e, %Y" }}</h4>
		<ul>
			{% capture get_items %}
			{% for cat in post.category %}
			{{ cat | first | replace: ' ', '_' }}
			{% endfor %}
			{% endcapture %}
			{% capture num_words %}
			{{ get_items | split:' ' | sort | join:' ' | number_of_words }}
			{% endcapture %}
		    
			{% for item in (1..num_words) %}
				{% capture this_word %}
				{{ get_items | split:' ' | sort | join:' ' | truncatewords:item | remove:'...' | split:' ' | last | replace: '_', ' '  }}
				{% endcapture %}
				<li class="category"><a href="/categories.html#{{ this_word }}">{{ this_word }}</a></li>
			{% endfor %}
			
			{% capture get_items %}
			{% for cat in post.tags %}
			{{ cat | first | replace: ' ', '_' }}
			{% endfor %}
			{% endcapture %}
			{% capture num_words %}
			{{ get_items | split:' ' | sort | join:' ' | number_of_words }}
			{% endcapture %}
		    
			{% for item in (1..num_words) %}
				{% capture this_word %}
				{{ get_items | split:' ' | sort | join:' ' | truncatewords:item | remove:'...' | split:' ' | last | replace: '_', ' '  }}
				{% endcapture %}
				<li class="tag"><a href="/tags.html#{{ this_word }}">{{ this_word }}</a></li>
			{% endfor %}
		</ul>
	</div>
      	{{ post.content }}
	<div class="span10 postbody"><hr /></div>
	</article>
{% endfor %}


<!-- Pagination links -->
<div class="pagination-nav">
	<ul class="menu">
		
			{% if paginator.page == 1 %} <a href="#Please-wait-for-future-to-load"><li class="span3">Toward the future</li></a> {% elsif paginator.previous_page == 1 %} <a href="/"><li class="span3">Toward the present</li></a> {% else %} <a href="/page{{ paginator.previous_page }}/"><li class="span3">Toward the present</li></a> {% endif %}
		
		<li class="span4 snippet">
			Displaying page {{ paginator.page }} of {{ paginator.total_pages }}
		</li>
		
		
			{% if paginator.next_page == paginator.total_pages %} <a><li class="span3">The Beginning</li></a> {% else %}<a href="/page{{ paginator.next_page }}/"><li class="span3">Toward the past</li></a> {% endif %}
		
	</ul>
</div>

<!-- End pagination -->