<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Brave Location Blog - Web, Mobile and Big Data stuff"/>
<link rel="icon" href="/favicon.ico" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
{% capture contenthtml %}{% if page.content contains '%' %}Brave Location Blog Home Page{% else %}{{ page.content | markdownify  }} ...{% endif %}{% endcapture %}
{% capture contentescaped %}{{ contenthtml | replace:'"',''  }}{% endcapture %}
{% capture contenttext %}{{ contentescaped | strip_html  }}{% endcapture %}
<link type="text/css" rel="stylesheet" href="/css/bootstrap-responsive.min.css">
<link type="text/css" rel="stylesheet" href="/css/site.css" />


<meta name="viewport" content="width=device-width, initial-scale=1.0"/>  

<meta property="og:type" content="article"/>
<!-- <meta property="og:image" content="http://www.bravelocation.com/images/BraveLocationSquare.png"/> -->
<!-- <meta property="og:site_name" content="Brave Location Blog - Web, Mobile and Big Data stuff"/> -->
<meta property="og:description" content="{{ contenttext | truncatewords: 50, '' }}"/>

<!-- Google analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38637976-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

