<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }}</title>
{% include externals.html %}
<meta property="og:title" content="{{ page.title }}"/>
</head>
<body>
<div class="container"> <!-- Main container -->
<!-- Begin Body Columns -->
<div class="row">
    {% include navmenu.html %}
 <!-- End main sidebar -->
    <div class="span10"> <!-- Main content column -->
            {{ content }}
    </div> <!-- End main content -->
</div> <!-- End main container --> 
{% include js.html %}
</body>
</html>
​