<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }}</title>
{% include externals.html %}
<meta property="og:title" content="{{ page.title }}"/>
</head>
<body>
<div class="container"> <!-- Main container -->
<!-- Begin Body Columns -->
<div class="row">
    <div class="span2"> <!-- Main sidebar -->
	{% include navmenu.html %}
    </div> <!-- End main sidebar -->
    <div class="span8 offset1"> <!-- Main content column -->
            {{ content }}
    </div> <!-- End main content -->
</div> <!-- End main container --> 
{% include js.html %}
</body>
</html>
​