<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<title>{{ page.title }} - BraveLocation Blog</title>
{% include externals.html %}
<meta property="og:title" content="{{ page.title }}"/>
</head>
<body>
{% include navbar.html %}

<div class="container"> <!-- Main container -->

<!-- blog header -->
<div class="row">
    <div class="span12">
        <div class="blogHeader">
            <h1>BraveLocation Blog</h1>
            <p>Web, Mobile and Big Data stuff</p> 
        </div>
    </div>
</div>
<!-- end blog header -->


<!-- Begin Body Columns -->
<div class="row">
    <div class="span10"> <!-- Main content column -->
        <h2 class="blogPostHeader"><a href="{{ page.url }}" title="Permalink" class="headingHighlight">{{ page.title }}</a> <span class="muted">{{ page.date | date: "%B %e, %Y" }}</span></h2>                   
        {{ content }}
			

		<hr />
		<h4>Feel free to comment on this post below ...</h4>
		<div class="fb-comments" data-href="{{site.root_uri}}{{ page.url }}/" data-num-posts="10"></div>

		<hr />
		<div class="categories">Posted under  
		{% for category in page.categories %}
			<a href="/categories.html#{{ category }}"><i>{{ category }}</i></a>; 
		{% endfor %}
		</div>
		
   </div> <!-- End main content -->
    
    <div class="span2"> <!-- Main sidebar -->
 
	<div style="margin-top: 72px;"><a href="/">&laquo; Back to Blog Home</a></div>

	<!-- Twitter button -->
	<div style="margin-top: 10px;">
	<a href="https://twitter.com/share" class="twitter-share-button" data-via="bravelocation">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
    <!-- End Twitter button -->

	<!-- Google +1 button  -->
	<div style="margin-top: 10px;">
		<div class="g-plusone" data-size="medium" data-annotation="inline" data-width="150"></div>
	</div>
	<!-- End Google +1 button -->
	
	<!-- FB Like button -->
	<div style="margin-top: 10px;">
	<div class="fb-like" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false"></div>
	</div>
	<!-- End FB Like button -->

	</div> <!-- End main sidebar -->
</div> <!-- End main container --> 


<!-- Facebook initialisation -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=125302614190821";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- End Facebook initialisation -->

<!--  Google+ initialisation -->
<script type="text/javascript">
  window.___gcfg = {lang: 'en-GB'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<!-- End Google+ initialisation -->

</body>
</html>
​